{% extends 'base.jinja2' %}

{% block title %}
    Megano
{% endblock %}

{% block header %}
    {% include 'common/header_full.jinja2' %}
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-content">
                <div class="Sort">
                        <div class="Sort-title">Сортировать по:
                        </div>
                        <div class="Sort-variants">
                            <a class="Sort-sortBy {% if curr_sort and curr_sort == sort.POP_ASC.value %}
Sort-sortBy_inc
                                                  {% elif curr_sort and curr_sort == sort.POP_DEC.value %}
Sort-sortBy_dec
                                                  {% endif %}"
                               href="?sort={% if curr_sort and curr_sort == sort.POP_ASC.value %}
{{ sort.POP_DEC.value }}
                                           {% elif curr_sort and curr_sort == sort.POP_DEC.value %}
{{ sort.NONE.value }}
                                           {% else %}
{{ sort.POP_ASC.value }}
                                           {% endif %}">
                                Популярности
                            </a>
                            <a class="Sort-sortBy {% if curr_sort and curr_sort == sort.PRI_ASC.value %}
Sort-sortBy_inc
                                                  {% elif curr_sort and curr_sort == sort.PRI_DEC.value %}
Sort-sortBy_dec
                                                  {% endif %}"
                               href="?sort={% if curr_sort and curr_sort == sort.PRI_DEC.value %}
{{ sort.PRI_ASC.value }}
                                           {% elif curr_sort and curr_sort == sort.PRI_ASC.value %}
{{ sort.NONE.value }}
                                           {% else %}
{{ sort.PRI_DEC.value }}
                                           {% endif %}">
                                Цене
                            </a>
                            <a class="Sort-sortBy {% if curr_sort and curr_sort == sort.REV_ASC.value %}
Sort-sortBy_inc
                                                  {% elif curr_sort and curr_sort == sort.REV_DEC.value %}
Sort-sortBy_dec
                                                  {% endif %}"
                               href="?sort={% if curr_sort and curr_sort == sort.REV_ASC.value %}
{{ sort.REV_DEC.value }}
                                           {% elif curr_sort and curr_sort == sort.REV_DEC.value %}
{{ sort.NONE.value }}
                                           {% else %}
{{ sort.REV_ASC.value }}
                                           {% endif %}">
                                Отзывам
                            </a>
                            <a class="Sort-sortBy {% if curr_sort and curr_sort == sort.CRE_ASC.value %}
Sort-sortBy_inc
                                                  {% elif curr_sort and curr_sort == sort.CRE_DEC.value %}
Sort-sortBy_dec
                                                  {% endif %}"
                               href="?sort={% if curr_sort and curr_sort == sort.CRE_ASC.value %}
{{ sort.CRE_DEC.value }}
                                           {% elif curr_sort and curr_sort == sort.CRE_DEC.value %}
{{ sort.NONE.value }}
                                           {% else %}
{{ sort.CRE_ASC.value }}
                                           {% endif %}">
                                Новизне
                            </a>
                        </div>
                    </div>
                <div class="Cards">
                    {% for product in products %}
                        <div class="Card">
                            <a class="Card-picture" href="{{ product.get_absolute_url() }}">
                                <img src="{{ product.images.first().image.url }}" alt="Product image" />
                            </a>
                            <div class="Card-content">
                                <strong class="Card-title">
                                    <a href="{{ product.get_absolute_url() }}">{{ product.name }}</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost">
                                        <span class="Card-price">${{ product.min_price }}</span>
                                    </div>
                                    <div class="Card-category">
                                        {{ product.category.full_name }}
                                    </div>
                                    <div class="Card-hover">
                                        <a class="Card-btn" href="{{ product.get_absolute_url() }}">
                                            <img src="{{ static('assets/img/icons/card/cart.svg') }}" alt="cart.svg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if products.has_other_pages() %}
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            {% if products.has_previous() %}
                                <a class="Pagination-element Pagination-element_prev" href="?p={{ products.previous_page_number() }}">
                                    <img src="{{ static('assets/img/icons/prevPagination.svg') }}"  alt="prevPagination.svg" />
                                </a>
                            {% endif %}

                            {% if products.has_previous() and products.has_next() %}
                                {% set start = products.number - 2 %}
                                {% set end = products.number + 1 %}
                            {% elif products.has_previous() %}
                                {% set start = ([products.number - 3, 0]|max) %}
                                {% set end = products.number %}
                            {% else %}
                                {% set start = products.number - 1 %}
                                {% set end = products.number + 2 %}
                            {% endif %}

                            {% for page_num in products.paginator.page_range[start:end] %}
                                {% if page_num == products.number %}
                                    <span class="Pagination-element Pagination-element_current">
                                        <span class="Pagination-text">{{ page_num }}</span>
                                    </span>
                                {% else %}
                                    <a class="Pagination-element" href="?p={{ page_num }}">
                                        <span class="Pagination-text">{{ page_num }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next() %}
                                <a class="Pagination-element Pagination-element_prev" href="?p={{ products.next_page_number() }}">
                                    <img src="{{ static('assets/img/icons/nextPagination.svg') }}" alt="nextPagination.svg" />
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}