{% extends 'base.jinja2' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ static('assets/css/basic.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('assets/css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('assets/css/extra.css') }}">
{% endblock %}

{% block header %}
    {% include 'common/header_parts/header_middle_full.jinja2' %}
    {% include 'common/header_parts/header_search.jinja2' %}
{% endblock %}

{% block content %}
    {% include review_template %} {#Пример включения шаблона добавления отзыва в код страницы#}
{% endblock %}
