{% extends 'base.jinja2' %}

{% block title %}
  E-mail
{% endblock %}

{% block header %}
  {% include 'common/header_min.jinja2' %}
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
              <a class="logo" href="index.html">
                <img class="logo-image" src="../../static/assets/img/logo.png" alt="logo.png" />
              </a>
            </div>
        </div>


        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">{% trans %}Восстановление пароля (1/2){% endtrans %}</h3>
                <h5>{% trans %}Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись{% endtrans %}</h5>
            </div>

            <form action="#">

                <div>



                    <input class="user-input" type="email" name="login" id="name" placeholder="E-mail" />
                </div>
                <div>
                    <input type="submit" value="{% trans %}Получить проверочный код{% endtrans %}" />
                </div>
                <a class="registr" href="../registr">
                    {% trans %}Вход{% endtrans %}
                </a>
            </form>
        </div>

    </div>
{% endblock %}