{% extends 'base.jinja2' %}

{% block title %}
  {% trans %}Вход{% endtrans %}
{% endblock %}

{% block header %}
  {% include 'common/header_min.jinja2' %}
{% endblock %}

{% block content %}
   <div class="wrapper">
      <div class="header">
          <h3 class="sign-in">{% trans %}Вход{% endtrans %}</h3>
      </div>
      <div class="clear"></div>
      <form action="{{ request.path }}" method="post">
          {% csrf_token %}
            <div>
                <input class="user-input" type="text" name="username" id="id_username" placeholder="E-mail" required />
            </div>
            <div>
                <input type="password" name="password" id="id_password" placeholder="*********" />
            </div>
            <div>
                <input type="submit" value="{% trans %}Войти{% endtrans %}" />
            </div>
            <div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <a class="forgot-label" href="../e-mail">{% trans %}Забыли пароль?{% endtrans %}</a>
            <a class="registr" href="{{ url('account:register') }}">
                {% trans %}Регистрация{% endtrans %}
            </a>

          {% if errors %}
            <div style="color: red">
            <p>{% trans %}Неверное имя пользователя либо пароль.{% endtrans %}</p>
{#              {{ form.errors }}#}
            </div>
          {% endif %}

      </form>
    </div>
{% endblock %}
