{% extends 'base.jinja2' %}

{% block header %}
  {% include 'common/header_min.jinja2' %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ static('assets/css/fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static('assets/css/basic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static('assets/css/extra.css') }}">
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="assets/img/logo.png" alt="logo.png" /></a>
            </div>
        </div>


        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                <h5>Придумайте новый пароль для учетной записи</h5>
            </div>

            <form action="#">
                <div>
                    <input type="password" name="pass" id="name" placeholder="Пароль" />
                </div>
                <div>
                    <input type="submit" value="Сохранить пароль" />
                </div>
            </form>
        </div>

    </div>

{% endblock %}
