{% extends 'base.jinja2' %}

{% block title %}
  E-mail
{% endblock %}

{% block header %}
  {% include 'common/header_min.jinja2' %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{% trans %}Восстановление пароля (1/2){% endtrans %}</h3>
            <h5>{% trans %}Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись{% endtrans %}</h5>
        </div>

        <form action="{{ request.path }}" method="post">
          {% csrf_token %}

            <div>
                <input class="user-input" type="email" name="email" id="id_email" placeholder="E-mail" />
            </div>
            <div>
                <input type="submit" value="{% trans %}Получить ссылку на почту код{% endtrans %}" />


            </div>
            <a class="registr" href="{{ url('account:login') }}">
              {% trans %}Вход{% endtrans %}
            </a>
        </form>
    </div>
{% endblock %}