{% extends 'base.jinja2' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="../account">Личный кабинет</a>
                                    </li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="../profile.jinja2">Профиль</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="../historyorder.jinja2">История заказов</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
{#                        <form method="post">#}
{#                      <form method="post" enctype="multipart/form-data">#}
{#                          {% csrf_token %}#}
{#                          {{ form.as_p() }}#}
{#                          <button class="btn btn_success" type="submit">Сохранить</button>#}
{#                        </form>#}
                        <form class="form Profile-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="avatar">Аватар
                                        </label>
                                        <div class="Profile-avatar Profile-avatar_noimg">

                                            <label class="Profile-fileLabel" for="avatar"
                                                   style="width: 100%;
                                                          height: 100%;
                                                          margin: 0;
                                                          top: 0;
                                                          left: 0;">
                                              <div style="width: 100%; height: 100%;
                                                  background: url('/media/{{ profile.avatar }}') no-repeat center;
                                                  background-size: contain">
                                                <input type="file" name="avatar" accept="image/*" id="id_avatar"
                                                       style="height: 100%; opacity: 0;">
                                              </div>
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="name">ФИО
                                        <input class="form-input" id="name" name="name" type="text" value={{ user.username }} data-validate="require" />
                                        </label>
                                    </div>
                                     {% if form.errors %}
                                        <div style="color: red">
                                          <strong>Oops! There was an error:</strong>
                                          <ul>
                                            {% for field in form %}
                                              {% if field.errors %}
                                                {% for error in field.errors %}
                                                  <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}
                                </div>
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="phone">Телефон
                                          <input type="text" name="phone" value={{ profile.phone }} maxlength="17" id="id_phone">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="mail">E-mail
                                        </label>
                                        <input class="form-input" id="mail" name="mail" type="text" value={{ profile.email }} data-validate="require" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Пароль
                                        </label>
                                        <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="passwordReply">Подтверждение пароля
                                        </label>
                                        <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно" />
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">Сохранить</button>
                                        </div>
                                        {% if not form.errors %}
                                          <div class="Profile-success">Профиль успешно сохранен
                                          </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{#<script src="{{ static('assets/js/inputmask.min.js') }}"></script>#}
{#<script src="{{ static('assets/js/mask.js') }}"></script>#}
{% endblock %}
