{% extends 'base.jinja2' %}

{% block title %}
  {% trans %}Регистрация{% endtrans %}
{% endblock %}

{% block header %}
  {% include 'common/header_min.jinja2' %}
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">{% trans %}Регистрация{% endtrans %}</h3>

            </div>
            <div class="clear"></div>

            <form method="POST">
                {% csrf_token %}
                <div>
                    <input class="user-input" type="text" name="full_name" id="full_name" placeholder="{% trans %}Имя{% endtrans %}" required>
                </div>
                <div>
                    <input class="user-input" type="email" name="email" id="email" placeholder="E-mail" required autofocus>
                </div>
                <br>
                <div>
                    <input type="password" name="password1" id="password1" placeholder="{% trans %}Пароль{% endtrans %}" required>
                </div>
                <div>
                    <input type="password" name="password2" id="password2" placeholder="{% trans %}Подтверждение пароля{% endtrans %}" required>
                </div>
                <input type="submit" value="{% trans %}Зарегистрироваться{% endtrans %}" />
                <a class="registr" href="../login">
                    {% trans %}Вход{% endtrans %}
                </a>
                <div class="clear"></div>

                <div class='error'>{{ form.errors }}</div>
            </form>
        </div>

    </div>

{% endblock %}
