<table>
<tbody>
<tr>
    <th class="hed">Характеристика</th>
    <th class="hed">Значение</th>
</tr>
{% for property in elem.dif_properties %}
<tr>
    <td>{{ property.property_name }}</td>
    <td>{{ property.property_value }}</td>
</tr>
{% endfor %}
</tbody>
</table>