{% extends 'base.jinja2' %}

{% block title %}
    Сравнение
{% endblock %}

{% block header %}
    {% include 'common/header_parts/header_middle_full.jinja2' %}
    {% include 'common/header_parts/header_search.jinja2' %}
{% endblock %}

{% block content %}
    <div class="Middle">
        {% if compare_amt > 0 %}
            <div class="wrap">
                <div class="Compare-header">
                    <h1 class="h1">Сравнение продуктов</h1>
                    <form class="form" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn Compare-btn">
                            <img src="{{ static('assets/img/icons/card/delete.svg') }}" alt="delete.svg">
                            Удалить всё
                            <input name="product_from_compare" type="hidden" value="delete">
                        </button>
                    </form>
                </div>
                <div class="Compare-products">
                    {% for product in object_list %}
                        <div class="Compare-product">
                            <a class="Compare-nameProduct_main" href="#">#}
                                <img class="Compare-pict"
                                     src="{{ product.images.image }}"
                                >
                                {{ product.name }}
                            </a>
                            <div class="Compare-row">
                                <div class="Compare-price">{{ product.price }} $</div>
                            </div>
                            <form class="form" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn Compare-btn">
                                    <img src="{{ static('assets/img/icons/card/delete.svg') }}" alt="delete.svg">
                                    <input name="product_from_compare" type="hidden" value="{{ product.pk }}">
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div class="Compare">
                    {% for property_items in properties %}
                        <div class="Compare-row">
                            <div class="Compare-title">{{ property_items.property_name }}: </div>
                            {% for value in property_items.property_values %}
                                <div class="Compare-product">{{ value[0] }}</div>
                            {% endfor %}
                        </div>
                    {% endfor%}
                </div>
{#                <div class="Compare-products">#}
{#                    {% for product in products %}#}
{#                        <div class="Compare-product">#}
{#                            <div class="Compare-header">#}
{#                                <a class="Compare-nameProduct_main" href="#">#}
{#                                    <img class="Compare-pict"#}
{#                                         src="{{ product.images.all }}"#}
{#                                    >#}
{#                                    {{ product.product_obj.name }}#}
{#                                </a>#}
{#                                <div class="Compare-row">#}
{#                                    <div class="Compare-price">{{ product.product_obj.price }} $</div>#}
{#                                </div>#}
{#                                <form class="form" method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <button type="submit" class="btn Compare-btn">#}
{#                                        <img src="{{ static('assets/img/icons/card/delete.svg') }}" alt="delete.svg">#}
{#                                        <input name="product_from_compare" type="hidden" value="{{ product.product_obj.pk }}">#}
{#                                    </button>#}
{#                                </form>#}
{#                            </div>#}
{#                            <div class="Compare-row">#}
{#                                {% if product.product_count == 0 %}#}
{#                                    <div class="Compare-title">Описание:</div>#}
{#                                {% endif %}#}
{#                                <div class="Compare-feature">{{ product.product_obj.description }}</div>#}
{#                            </div>#}
{#                            {% for property in product.product_properties %}#}
{#                                <div class="Compare-row">#}
{#                                    {% if product.product_count == 0 %}#}
{#                                        <div class="Compare-title">{{ property.property_name }}:</div>#}
{#                                    {% endif %}#}
{#                                    <div class="Compare-feature">{{ property.property_value }}</div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        {% else %}
            <div class="Middle Middle-main">
                <span class="">Недостаточно данных для сравнения</span>
            </div>
        {% endif %}
    </div>
{% endblock %}