<nav class="row-block row-block_right Header-menu">
    <div class="menuModal" id="navigate">
        <ul class="menu menu_main">
            <li class="menu-item">
                <a class="menu-link" href="{{ url('index') }}">{% trans %}Главная{% endtrans %}</a>
            </li>
            <li class="menu-item">
                {% if active_discounts %}
                    <a href="{{ url('discounts:discounts_list') }}">
                        <span class="menu-label menu-label_success">{% trans %}Скидки{% endtrans %}</span>
                    </a>
                {% endif %}
                <a class="menu-link" href="{{ url('products:catalog') }}">{% trans %}Каталог{% endtrans %}</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{{ url('products:product_compare') }}">
                    {% trans %}Сравнение{% endtrans %}
                    <span class="CartBlock-amount" style="display: none" id='compare_amt'></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="row-block">
    <div class="CartBlock">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn">
                    <img class="CartBlock-img"
                         src="{{ static('assets/img/icons/loon-icon.svg') }}"
                         alt="loon-icon.svg" />
                </button>
                <div class="dropdown-content">
                    <a class="dropdown-content-a" href="{{ url('account:account') }}">{% trans %}Личный кабинет{% endtrans %}</a>
                    {% if user.is_staff %}
                        <a class="dropdown-content-a" href="{{ url('admin:index') }}">{% trans %}Административный раздел{% endtrans %}</a>
                    {% endif %}
                    <a class="dropdown-content-a" href="{{ url('account:logout') }}">{% trans %}Выход{% endtrans %}</a>
                </div>
            </div>
        {% endif %}
        <a class="CartBlock-block" href="{{ url('cart:cart_view') }}">
            <img class="CartBlock-img"
                 src="{{ static('assets/img/icons/cart.svg') }}"
                 alt="{% trans %}Корзина{% endtrans %}" />
            <span class="CartBlock-amount" id="cart_amt_header"></span>
        </a>
{#        <div class="CartBlock-block">#}
{#            <span class="CartBlock-price" id="cart_total_price"></span>#}
{#        </div>#}
    </div>
</div>
<div class="row-block Header-trigger">
    <a class="menuTrigger" href="#navigate">
        <div class="menuTrigger-content">
            {% trans %}Показать навигацию{% endtrans %}
        </div>
        <span></span><span></span><span></span>
    </a>
</div>