<div class="row-block Header-logo">
    <a class="logo" href="{{ url('index') }}">
        <img class="logo-image" src="{{ static('assets/img/logo.png') }}"
             alt="logo.png" />
    </a>
</div>